@charset "utf-8";

/* 清浮动 */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}
.fl{float: left;}
.fr{float: right;}
.marginLeft{margin-left: 0.2rem;}

.wrap{width: 100%;margin-bottom: 1rem;}
/* 头部 */
header{width: 100%;height: 0.9rem;line-height:0.9rem;background: #a11c17;text-align: center;position: relative;}
header p{font-size: 0.3rem;color:#fff;}
header a i{background: url(../images/star.png) no-repeat;position: absolute;right: 0.2rem;top: 0.25rem;width: 0.45rem;height: 0.4rem;background-size: cover;}
/* 明星banner图 轮播 */
.wrap .box{width:100%;position:relative;}
.wrap .box .banner{width:100%;overflow: hidden;}
.wrap .box .banner ul{width:1000%;}
.wrap .box .banner ul li{float:left;width:25%;}
.wrap .box .banner ul li a{display: block;}
.wrap .box .banner ul li img{width:100%;}
div.swiper-pagination{position:absolute;width:100%;bottom:8px;text-align:center;}
div.swiper-pagination span.swiper-pagination-bullet{display:inline-block;width:12px;height:6px;border-radius:6px;margin:0 2px;background: rgba(245,67,67,.3);}
.swiper-pagination-bullet-active{background:#f54343 !important;}

/* nav 导航 */
nav{width:100%;text-align: center;}
nav a{float: left;width: 20%;text-align: center;}
nav a img{display: block;width: 40px;height: 40px;vertical-align: middle;border: 0;margin: 0.2rem auto 0;}
nav a i{font-size: 0.2rem;color: #A5A4A4;vertical-align: middle;margin-bottom: 0.2rem;display: inline-block;}

.decorate{width: 100%;height: 0.2rem;background: #f3f3f3;}

.main{width:100%;}
.main .m_title{width:35%;font-size: 0.3rem;border-bottom: 2px solid #a11c17;}
.main .m_title p{padding: 0.2rem;}
.main #wrapper{width: 100%;background: #fff !important;}
.main #wrapper li{margin-top: 0.2rem;}
.m_content_left{width: 30%;}
.m_content_left img{width:100%;border-radius: 0.08rem;}
.m_content_right{width: 60%;}
.m_content_right p{font-size: 0.23rem;color: #333;line-height: 0.3rem;}
.m_content_right p span{font-size: 0.2rem;color: #a9a9a9;}
.m_content_right p span:last-child{margin-right: 0.2rem;}
.m_content_right p span i{background: url(../images/browse.png) no-repeat;width: 18px;height: 10px;display: inline-block;background-size: cover;margin-right: 0.1rem;}

/* 明星拍卖 */
.sa_content{width: 96%;margin: 0 auto;text-align: center;background: #efefef !important;}
.sa_content ul li{display: inline-block;width: 46%;background: #fff;margin-bottom: 0.2rem;border-radius: 0.1rem 0.1rem 0rem 0rem;padding-bottom: 0.1rem;margin:2%;}
.sa_content ul li a img{width: 100%;border-radius: 0.1rem;}
.sa_content ul li a p{text-align: left;padding-left: 0.1rem;}
.sa_content ul li a p.sa_c_title{font-size: 0.2rem;color:#333;width: 100%;height: 0.36rem;white-space: normal;overflow: hidden;text-overflow: ellipsis;}
.sa_content ul li a p.start_price,.sa_content ul li a p.start_time{width: 100%;}
.sa_content ul li a p i{background: url(../images/jingling.png) no-repeat;width: 0.35rem;height: 0.35rem;display: inline-block;vertical-align: bottom;margin-right: 0.1rem;background-size: cover;}
.sa_content ul li a p.start_price i{background-position:0px 0px;}
.sa_content ul li a p.start_price span,.sa_content ul li a p.start_time span{font-size: 0.08rem;color: #808080;}
.sa_content ul li a p.start_price b,.sa_content ul li a p.start_time b{font-size: 0.08rem;color: #af4f4d;}
.sa_content ul li a p.start_time i{background-position: 0px -0.46rem;}

/* 抢先报 */
.fn_content{width: 96%;margin: 0 auto;background: #fff !important;}
.fn_content ul li{width: 100%;margin-top: 0.2rem;border-bottom: 1px solid #ccc;padding-bottom: 0.1rem;}
.fn_content ul li .fn_top{width: 100%;position: relative;margin-bottom: 0.1rem;}
.fn_content ul li .fn_top .head_portrait{width: 12%;}
.fn_content ul li .fn_top .head_portrait img{width: 100%;border-radius: 50%;}
.fn_content ul li .fn_top .fn_c_title{width: 80%;margin-left: 0.2rem;}
.fn_content ul li .fn_top .fn_c_title .fn_c_t_top{font-size: 0.25rem;}
.fn_content ul li .fn_top .fn_c_title .fn_c_t_top i{background: url(../images/jingling.png) no-repeat;width: 0.35rem;height: 0.35rem;display: inline-block;background-position: 0px -0.96rem;background-size: cover;vertical-align: middle;}
.fn_content ul li .fn_top .fn_c_title .fn_c_t_bottom{font-size: 0.1rem;line-height: 0.28rem;}
.fn_content ul li .fn_c_share{position: absolute;top: 0px;right: 0rem;}
.fn_content ul li .fn_c_share a{font-size: 0.2rem;color: #c80606;padding-right: 0.2rem;}
.fn_content ul li .fn_center{width: 100%;}
.fn_content ul li .fn_center img{width: 100%;border-radius: 0.1rem;}
.fn_content ul li .fn_bottom{width: 100%;}
.fn_content ul li .fn_bottom .fn_b_top{width: 100%;}
.fn_content ul li .fn_bottom .fn_b_top p.p1{font-size: 0.25rem;}
.fn_content ul li .fn_bottom .fn_b_top p.p2{font-size: 0.1rem;}
.fn_content ul li .fn_bottom .fn_b_top p.p3{text-align: right;}
.fn_content ul li .fn_bottom .fn_b_top p.p3 i{background: url(../images/jingling.png) no-repeat;width: 0.32rem;height: 0.32rem;display: inline-block;background-size: cover;}
.fn_content ul li .fn_bottom .fn_b_top p.p3 i.fn_browse{background-position: 0px -2.22rem;}
.fn_content ul li .fn_bottom .fn_b_top p.p3 i.fn_collection{background-position: 0px -1.54rem;}
.fn_content ul li .fn_bottom .fn_b_top p.p3 i.fn_comment{background-position: 0px -1.89rem;}
.fn_content ul li .fn_bottom .fn_b_top p.p3 span{font-size: 0.1rem;}
.fn_content ul li .fn_bottom .fn_b_bottom{font-size: 0.15rem;line-height: 0.25rem;color: #aaa;}


.scroller li {
	border-bottom: 1px solid #eee;
	font-size: 14px;
	
}
.pullDownLabel img {
	width: 13px;
	height: 13px;
	margin-top: -1px;
	vertical-align: -2px;
	margin-right: 5px;
}